{% extends 'main/main.html' %}

{% block content %}

    <h1>{{ room.name }}</h1>
    <hr>

    {% for message in room_messages %}
        {{ message }} <br>

        @ {{ message.user }}  {{ message.created_at|timesince }} ago <br>
        
        {% if request.user == message.user %}
        <p>
            <a href="{% url 'delete-message' message.id %}">Delete</a>
        </p>
        {% endif %}
        <hr>

    {% endfor %}

    {% if request.user.is_authenticated %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}

            <input type="text" name="body" placeholder="Type your message here...">

        </form>
    </div>
    {% endif %}

{% endblock %}
