{% extends 'main/main.html' %}

{% block content %}

    <h2>Login</h2>
    
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="Username" spaceholder="Enter Username...">
        
        <label>Password:</label>
        <input type="password" name="Password" spaceholder="Enter Password...">
        
        <input type="submit" value="Login">
    </form>

    <p>
        <a href="{% url 'registeration' %}">Add a new user!</a>
    </p>

{% endblock %}